# Afhængigheder (installeres med 'npm install')
/node_modules/

# Build-filer (genereres med 'npm run build')
/build/

# OS-specifikke filer
.DS_Store
Thumbs.db

# Editor-specifikke indstillinger
/.vscode/